@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,500,600');

/* --------------------------Colours */

.nav-colour {
    background-color: #3c3c3c!important;
    width: 100%;
    border-bottom: 2px solid #909090;
}

/* --------------------------Special Padding/Margin */
body {
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.125rem;
}

.container-fluid {
    padding: 0;
}

/* --------------------------Flash Messages */

.flash-message-bar {
    margin: auto;
}

.flash-message {
    background-color: #feb62e;
    border-color: #feb62e;
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 10px;
    color: #3c3c3c;
}

.fade {
    transition: opacity .3s linear;
}

/* --------------------------Navbar */

.logo{
    background: url(../images/logo.png) center no-repeat;
    background-size: 3.125rem;
    width: 3.125rem;
    height: 3.125rem;
    margin: 0 25px 0 0.625rem;
}

.cc-navbar {
    margin: auto;
    width: 80%;
}

.nav-item .activated {
    color: #feb62e;
}

.nav-item {
    margin-right: 50px;
}

.nav-link {
    color: #f5f5f5;
    transition: 0.3s;
}

.nav-link:hover {
    color: #feb62e;
    transition: 0.5s;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: #feb62e;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .5s;
}

.nav-btn {
    background-color: #feb62e;
    border-radius: 2.1875rem;
    padding: 0 0.3125rem 0 0.5rem;
}

.nav-btn:hover {
    background-color: #ecaa2f;
}

.nav-btn .nav-link {
    font-weight: 800;
}

.nav-btn .nav-link:hover {
    color: #f5f5f5;
}

/* --------------------------Small Device Navbar */

.phone-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: -5px;
    width: 100%;
    z-index: 1;
    border-top: 2px solid #909090;
}

.phone-nav ul {
    background-color: #3c3c3c;
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 60px;
}

.phone-nav ul li {
    color: #f5f5f5;
    flex: 1;
    padding: 8px;
    text-align: center;
}

.phone-nav ul li a i {
    display: block;
    font-size: 20px;
    padding: 3px 0;
    cursor: pointer;
}

.phone-nav ul li:hover, 
.phone-nav ul li a:hover {
    color: #feb62e;
    transition: .5s;
}

.phone-nav ul li a {
    font-size: 12px;
    margin: 2px 0;
    display: block;
    color: #f5f5f5;
    padding: 0;
    text-decoration: none;
}

/* --------------------------Footer */

.footer-base {
    height: 220px;
    background: url(../images/foot2.png) bottom no-repeat;
    position: relative;
    bottom: 0px;
    width: 100%;
}

.connect-icons{
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 20px 0 0;
}

.connect-icons li{
    text-decoration: none;
    display: inline-block;
    margin: 0 0.8125rem;
}

.connect-icons li i{
    color: #f7f7f7;
    background: #3c3c3c;
    font-size: 20px;
    width: 37px;
    height: 37px;
    padding: 13px 0px;
    border: 2px solid #f7f7f7;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
}

.connect-icons li i:hover,
.footer-links li a:hover {
    border-color: #feb62e;
    color: #feb62e;
    transition: 0.5s;
}

.footer-links {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 15px 0;
}

.footer-links li, .footer-links li a{
    text-decoration: none;
    display: inline-block;
    margin: 0 0.3125rem;
    color: #f5f5f5;
}
 
.copyright{
    color: rgba(255, 255, 255, 0.925);
    font-size: 14px;
    text-align: center;
    font-style: italic;
    margin-bottom: 15px;
}

.creator a,
.creator i{
    padding: 0 2px;
    font-style: normal;
    color: #f7f7f7;
    text-decoration: none;
}

.name{
    border-bottom: 3px solid #f7f7f7;
    border-radius: 10%;
}

/* --------------------------Page Background Images */

.background-image {
    width: 100%;
    min-height: 73vh;
}

.get-help-background {
    background: url(../images/back-1.jpg) center/cover no-repeat fixed;
}

.confirmation-background {
    background: url(../images/back-2.jpg) center/cover no-repeat fixed;
}

.edit-post-background {
    background: url(../images/back-3.jpg) center/cover no-repeat fixed;
}

.give-help-background {
    background: url(../images/back-4.jpg) center/cover no-repeat fixed;
}

.login-background {
    background: url(../images/back-5.jpg) center/cover no-repeat fixed;
}

.sign-up-background {
    background: url(../images/back-7.jpg) center/cover no-repeat fixed;
}

.dashboard-background {
    background: url(../images/back-6.jpg) center/cover no-repeat fixed;
}   

.edit-profile-background {
    background: url(../images/back-8.jpg) center/cover no-repeat fixed;
}

/* --------------------------Page Cards */

.form-card {
    width: 100%;
    display: block;
    margin: 0 auto 50px;
    background: #3c3c3c;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    border: 1px solid #909090;
}

.title-card {
    width: 100%;
    display: block;
    background: #3c3c3c;
    margin: 50px auto 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;   
    border: 1px solid #909090;
}

.title-card h2 {
    font-size: 30px;
    color: #feb62e;
    padding: 8px;
    text-align: center;
    margin-bottom: 0;
}

/* --------------------------Dashboard */

.dashboard-card-sect {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
}

.welcome-message {
    width: 22rem;
    text-align: center;
    margin: 3.125rem auto 20px auto;
    text-decoration: none;
    transition: transform .5s ease-in-out;
    background: #3c3c3c;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    border: 1px solid #909090;
}

.welcome-text {
    color: #feb62e;
    font-size: 2rem;
    padding: 7px;
    margin-bottom: 0;
}

.dash-card-li {
    display: inline-block;
    text-decoration: none;
    margin: 0 100px;
}

.general-card{
    width: 20rem;
    height: 20rem;
    text-align: center;
    margin: 3.125rem auto 20px auto;
    text-decoration: none;
    transition: transform .5s ease-in-out;
    background: #3c3c3c;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    border: 1px solid #909090;
}

.general-card:hover {
    text-decoration: none;
    transform: scale(1.02);
    transition: transform .5s ease-in-out;
}

.general-card h5 {
    color: #f5f5f5;
    font-size: 35px;
    padding: 5.5rem 0px;
}

.card-icon {
    font-size: 75px;
    color: #feb62e;
    padding-bottom: 25px;
}

/* --------------------------Remove Post Confirmation Page */

.confirmation-card h2 {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 27px;
}

.disclaimer {
    width: 90%;
    border-radius: 5px;
    color: #3c3c3c;
    padding: 10px;
    background: #feb62e;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 10px auto;
}

.post-name {
    text-align: center;
    color: #f5f5f5;
    font-size: 18px;
}

.buttons {
    text-align: center;
}

.confirmation-buttons {
    display: inline-block;
    padding: 7px 10px;
    margin: 5px 10px 15px;
    border-radius: 6px;
    width: 150px;
}

.confirmation-buttons:hover {
    text-decoration: none;
    color: #f5f5f5;
}

.delete-button {
    background: #d62436;
    border: 2px solid #d62436;
    color: #f5f5f5;
}

.delete-button:hover {
    background: #c42736;
    border: 2px solid #c42736;
}

.cancel-button {
    background: #3c3c3c;
    border: 2px solid grey;
    color: #f5f5f5
}

.cancel-button:hover {
    background: #363636;
    border: 2px solid grey;
}

/* --------------------------Login & Signup */
.user-icon {
    color: #feb62e;
    font-size: 140px;
    text-align: center;
    display: block;
    margin: 35px auto 5px;

}

/* --------------------------Get Help Page */

.form-section {
    padding: 30px;
}

.input-field {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 0px;
    height: 40px;
    border-bottom: 2px solid #f5f5f5;
    background: transparent;
    padding: 5px 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #f5f5f5;
}

.select-field {
    background: #3c3c3c;
}

.checkbox-field:hover,
.select-field:hover {
    cursor: pointer;
}

.text-area {
    min-height: 66px;
    max-height: 110px;
    margin-bottom: 5px;
}

.form-group label {
    display: block;
    margin-bottom: 0px;
    color: #feb62e;
    font-weight: 100;
    border-bottom: 1px solid #feb62e;
    padding-right: 5px;
    width: fit-content;
}

.form-check label {
    border: none;
}

.submit-btn {
    background: #feb62e;
    border: 1px solid #feb62e;
    border-radius: 2.1875rem;
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin: auto;
    padding: 8px 0;
    width: 40%;
}

.submit-btn:hover {
    background-color: #ecaa2f;
}

.input-field:focus {
    border-bottom: 2px solid #feb62e;
    transition: border .7s;
} 

/* --------------------------Media Query */

/* Active for screen sizes under 992px */
@media (max-width: 992px) {
    /* --- Dashboard */
    .dash-card-li {
        margin: 0 15px;
    }

    /* --- Navbar */
    .cc-navbar {
        width: 100%;
    }

    .nav-item {
        margin-right: 40px;
    }

    /* --- Remove Post Confirmation Page */
    .confirmation-card h2 {
        font-size: 26px;
    }
}

/* Active for screen sizes under 768px */
@media (max-width: 768px) {

    /* --- Dashboard */
    .general-card {
        width: 16rem;
        height: 16rem;
    }

    .general-card h5 {
        padding: 3.5rem 0;
    }

    /* --- Flash Messages */
    .flash-message {
        padding: 0.625rem 1.25rem;
    }

    .flash-message .close-btn {
        padding: 0.625rem 1.25rem;
    }

    /* --- Remove Post Confirmation Page */
    .confirmation-card h2 {
        font-size: 23px;
    }

    /* --- Login & Signup */
    .user-icon {
        font-size: 120px;
        margin: 30px auto 0px;
    }

    /* --- Get Help Page */
    .input-field {
        margin-bottom: 10px;
    }

    .form-group {
        margin-bottom: 5px;
    }
}

/* Active for screen sizes under 767px */
/* Added to remove big white space at bottom of screen on standard iPad due to Bootstrap breakpoints being 1px off */
@media (max-width: 767px) {
    /* --- Footer */
    .footer-base {
        height: 210px;
        position: relative;
        bottom: 60px;
        margin-top: 50px;
    }
}

/* Active for screen sizes under 576px */
@media (max-width:576px) {

    /* --- Flash Messages */
    .flash-message {
        padding: 0.525rem 1.25rem;
        font-size: 16px;
    }

    .flash-message .close-btn {
        padding: 0.525rem 1.25rem;
    }

    /* --- Dashboard */
    .welcome-message {
        width: 20rem;
        margin: 1.125rem auto 20px auto;
    }

    .welcome-text {
        font-size: 26px;
        padding: 9px;
    }

    .general-card {
        width: 20rem;
        height: 21rem;
        margin: 1.125rem auto 20px auto;
    }

    .general-card h5 {
        padding: 5.4rem 0;
        font-size: 40px;
    }

    .card-icon {
        font-size: 90px;
    }

    .dashboard-card-sect {
        flex-direction: column;
        align-items: center;
    }

    /* --- Footer */
    .connect-icons li i {
        font-size: 18px;
        width: 35px;
        height: 35px;
        line-height: 7px;
    }

    .footer-links li a {
        font-size: 18px;
    }

    /* --- Remove Post Confirmation Page */

    .buttons {
        text-align: center;
        display: flex;
        flex-direction: row-reverse;
        flex-flow: column-reverse;
        align-items: center;
    }

    .disclaimer {
        font-size: 15px;
    }

    /* --- Get Help Page */

    .title-card h2 {
        font-size: 23px;
    }

    .form-check {
        margin: 7px 0 9px;
    }

    .form-check label {
        font-size: 15px;
    }

    .submit-btn {
        width: 180px;
    }

    .input-field {
        font-size: 17px;
        height: 36px;
    }

    /* --- Login & Signup */
    .user-icon {
        font-size: 100px;
        margin: 25px auto -5px;
    }

    .signup-card h2 {
        font-size: 20px
    }

    .login-card h2 {
        font-size: 30px;
    }
}

/* Active for screen sizes under 350px */
@media (max-width: 350px) {

    /* --- Flash Messages */
    .flash-message {
        padding: 0.425rem 1.25rem;
        font-size: 14px;
    }

    .flash-message .close-btn {
        padding: 0.22rem 1.25rem;
    }

    /* --- Dashboard */
    .welcome-message {
        width: 17rem;
    }

    .welcome-text {
        font-size: 23px;
    }

    .general-card {
        width: 17rem;
        height: 17rem;
        margin: 0.5rem auto 15px auto;
    }

    .general-card h5 {
        padding: 3.9rem 0;
        font-size: 35px;
    }

    .card-icon {
        font-size: 80px;
    }

    /* --- Small Device Navbar */
    .phone-nav ul {
        height: 70px;
    }

    .phone-nav ul li {
        padding: 5px;
    }

    /* --- Remove Post Confirmation Page */
    .confirmation-card h2 {
        font-size: 21px;
    }

    .disclaimer {
        font-size: 13px;
    }

    .confirmation-buttons {
        width: 135px;
        font-size: 16px;
        padding: 5px 10px;
    }

    .post-name {
        font-size: 16px;
    }

    /* --- Get Help Page */
    .form-group label {
        font-size: 15px;
    }

    .form-check label {
        font-size: 13px;
    }

    .title-card h2 {
        font-size: 18px;
    }

    .submit-btn {
        width: 150px;
        padding: 6px 0;
    }

    .input-field {
        font-size: 16px;
    }

    /* --- Login & Signup */
    .user-icon {
        font-size: 85px;
        margin: 20px auto -10px;
    }

    .signup-card h2 {
        font-size: 15px
    }

    .login-card h2 {
        font-size: 23px;
    }
}

/* Active for screen sizes under 292px */
@media (max-width:292px) {

    /* --- Flash Messages */
    .flash-message {
        font-size: 12px;
    }

    /* --- Dashboard */
    .welcome-message {
        width: 12rem;
        margin: 1.125rem auto 20px auto;
    }

    .welcome-text {
        font-size: 22px;
    }

    .general-card {
        width: 12rem;
        height: 12rem;
        margin: 0.5rem auto 20px auto;
    }

    .general-card h5 {
        padding: 2.5rem 0;
        font-size: 30px;
    }

    .card-icon {
        font-size: 55px;
        padding-bottom: 20px;
    }

    /* --- Footer */
    .footer-base {
        height: 230px;
    }

    .connect-icons li {
        margin: 0 0.3125rem;
    }

    .connect-icons li i {
        font-size: 14px;
        width: 28px;
        height: 28px;
        line-height: 2px;
    }

    .footer-links li a {
        font-size: 14px;
        margin: 0 1px;
    }

    .copyright {
        font-size: 12px;
    }

    /* --- Remove Post Confirmation Page */
    .confirmation-card h2 {
        font-size: 18px;
    }

    /* --- Get Help Page */
    .title-card h2 {
        font-size: 12px;
    }

    .submit-btn {
        width: 115px;
        padding: 3px 0;
    }

    .select-field {
        font-size: 13px;
    }

    .input-field {
        font-size: 13px;
        padding: 5px 0;
    }

    /* --- Login & Signup */
    .signup-card h2 {
        font-size: 18px
    }

    .login-card h2 {
        font-size: 23px;
    }

    .user-icon {
        font-size: 70px;
        margin: 20px auto -10px;
    }

    /* --- Get Help Page */
    .login-card {
        margin: 20px auto 0;
    }
}

/* Active for screen sizes between 1700px and 1390px in height */
/* Used to get rid of white gaps underneath footer on bigger sized screens */
@media (max-height: 1700px) and (min-height: 1390px) {
    .background-image {
        width: 100%;
        min-height: 83vh;
    }
}

/* Active for screen sizes between 1390px and 1080px in height */
/* Used to get rid of white gaps underneath footer on bigger sized screens */
@media (max-height: 1390px) and (min-height: 1080px) {
    .background-image {
        width: 100%;
        min-height: 80vh;
    }
}