/* --------------------------Colours */

.nav-colour {
    background-color: #3c3c3c!important;
    width: 100%;
}

/* --------------------------Special Padding/Margin */
body {
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.125rem;
}

.container-fluid {
    padding: 0;
}

/* --------------------------Navbar */

.logo{
    background: url(../images/logo.png) center no-repeat;
    background-size: 3.125rem;
    width: 3.125rem;
    height: 3.125rem;
    margin: 0 25px 0 0.625rem;
}

.cc-navbar {
    margin: auto;
    width: 80%;
}

.nav-item .activated {
    color: #feb62e;
}

.nav-item {
    margin-right: 50px;
}

.nav-link {
    color: #f5f5f5;
    transition: 0.3s;
}

.nav-link:hover {
    color: #feb62e;
    transition: 0.5s;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: #feb62e;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .5s;
}

.nav-btn {
    background-color: #feb62e;
    border-radius: 2.1875rem;
    padding: 0 0.3125rem 0 0.5rem;
}

.nav-btn:hover {
    background-color: #ecaa2f;
}

.nav-btn .nav-link {
    font-weight: 800;
}

.nav-btn .nav-link:hover {
    color: #f5f5f5;
}

/* --------------------------Small Device Navbar */

.phone-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	margin-top: -5px;
	width: 100%;
    z-index: 1;
    border-top: 2px solid #909090;
}

.phone-nav ul {
	background-color: #3c3c3c;
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
	height: 60px;
}

.phone-nav ul li {
	color: #f5f5f5;
	flex: 1;
	padding: 8px;
	text-align: center;
}

.phone-nav ul li a i {
    display: block;
    font-size: 20px;
    padding: 3px 0;
    cursor: pointer;
}

.phone-nav ul li:hover, 
.phone-nav ul li a:hover {
	color: #feb62e;
    transition: .5s;
}

.phone-nav ul li a {
	font-size: 12px;
	margin: 2px 0;
    display: block;
    color: #f5f5f5;
    padding: 0;
    text-decoration: none;
}

/* --------------------------Footer */

.footer-base {
    height: 200px;
    background: url(../images/foot.png) bottom no-repeat;
    position: relative;
    bottom: 0px;
}

.connect-icons{
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 20px 0 0;
}

.connect-icons li{
    text-decoration: none;
    display: inline-block;
    margin: 0 0.8125rem;
}

.connect-icons li i{
    color: #f7f7f7;
    background: #3c3c3c;
    font-size: 20px;
    width: 37px;
    height: 37px;
    padding: 13px 0px;
    border: 2px solid #f7f7f7;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
}

.connect-icons li i:hover,
.footer-links li a:hover {
    border-color: #feb62e;
    color: #feb62e;
    transition: 0.5s;
}

.footer-links {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 15px 0;
}

.footer-links li, .footer-links li a{
    text-decoration: none;
    display: inline-block;
    margin: 0 0.3125rem;
    color: #f5f5f5;
}
 
.copyright{
    color: rgba(255, 255, 255, 0.925);
    font-size: 14px;
    text-align: center;
    font-style: italic;
    margin-bottom: 15px;
}

.creator a,
.creator i{
    padding: 0 2px;
    font-style: normal;
    color: #f7f7f7;
    text-decoration: none;
}

.name{
    border-bottom: 3px solid #f7f7f7;
    border-radius: 10%;
}

/* --------------------------Get Help Page */

.form-card {
    width: 100%;
    display: block;
    margin: 0 auto 50px;
    background: #3c3c3c;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
}

.title-card {
    width: 100%;
    display: block;
    background: #3c3c3c;
    margin: 50px auto 0;
    color: #feb62e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 7px;
}

.form-section {
    padding: 30px;
}

.input-field {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    height: 40px;
    border-bottom: 2px solid #f5f5f5;
    background: transparent;
    padding: 5px 0;
    margin-bottom: 20px;
    font-size: 18px;
    color: #f5f5f5;
}

.select-field {
    background: #3c3c3c;
}

.checkbox-field:hover,
.select-field:hover {
    cursor: pointer;
}

.text-area {
    min-height: 100px;
    margin-bottom: 5px;
}

.form-group label {
    display: block;
    margin-bottom: 0px;
    color: #feb62e;
    font-weight: 100;
    border-bottom: 1px solid #feb62e;
    padding-right: 5px;
    width: fit-content;
}

.form-check label {
    border: none;
}

.submit-btn {
    background: #feb62e;
    border: 1px solid #feb62e;
    border-radius: 2.1875rem;
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin: auto;
    padding: 8px 0;
    width: 40%;
}

.submit-btn:hover {
    background-color: #ecaa2f;
}

.input-field:focus {
    border-bottom: 2px solid #feb62e;
    transition: .7s;
} 

/* --------------------------Media Query */

/* Active for screen sizes under 992px */
@media (max-width: 992px) {

    /* --- Navbar */
    .cc-navbar {
        width: 100%;
    }

    .nav-item {
        margin-right: 40px;
    }
}

/* Active for screen sizes under 768px */
@media (max-width: 768px) {

    /* --- Footer */
    .footer-base {
        height: 210px;
        position: relative;
        bottom: 60px;
    }
}

/* Active for screen sizes under 576px */
@media (max-width:576px) {

    /* --- Footer */
    .connect-icons li i {
        font-size: 18px;
        width: 35px;
        height: 35px;
        line-height: 7px;
    }

    .footer-links li a {
        font-size: 18px;
    }
}

/* Active for screen sizes under 350px */
@media (max-width: 350px) {

    /* --- Small Device Navbar */
    .phone-nav ul {
        height: 70px;
    }

    .phone-nav ul li {
        padding: 5px;
    }
}

/* Active for screen sizes under 292px */
@media (max-width:292px) {

    /* --- Footer */
    .footer-base {
        height: 230px;
    }

    .connect-icons li {
        margin: 0 0.3125rem;
    }

    .connect-icons li i {
        font-size: 14px;
        width: 28px;
        height: 28px;
        line-height: 2px;
    }

    .footer-links li a {
        font-size: 14px;
        margin: 0 1px;
    }

    .copyright {
        font-size: 12px;
    }
}