/* --------------------------Colours */

/* --------------------------Special Padding/Margin */
body {
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.125rem;
}

.container-fluid {
    padding: 0;
}

/* --------------------------Navbar */

.logo{
    background: url(../images/logo.png) center no-repeat;
    background-size: 3.125rem;
    width: 3.125rem;
    height: 3.125rem;
    margin: 0 25px 0 0.625rem;
}

.nav-colour {
    background-color: #3c3c3c!important;
    width: 100%;
}

.cc-navbar {
    margin: auto;
    width: 80%;
}

.nav-item .activated {
    color: #feb62e;
}

.nav-item {
    margin-right: 50px;
}

.nav-link {
    color: #f5f5f5;
    transition: 0.3s;
}

.nav-link:hover {
    color: #feb62e;
    transition: 0.5s;

}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: #feb62e;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .5s;
}

.nav-btn {
    background-color: #feb62e;
    border-radius: 2.1875rem;
    padding: 0 0.3125rem 0 0.5rem;
}

.nav-btn:hover {
    background-color: #f8ae24;
}

.nav-btn .nav-link {
    font-weight: 800;
}

.nav-btn .nav-link:hover {
    color: #f5f5f5;
}

/* --------------------------Small Device Navbar */

.phone-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	margin-top: -5px;
	width: 100%;
}

.phone-nav ul {
	background-color: #3c3c3c;
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
	height: 60px;
}

.phone-nav ul li {
	color: #f5f5f5;
	flex: 1;
	padding: 8px;
	text-align: center;
}

.phone-nav ul li a i {
    display: block;
    font-size: 20px;
    padding: 3px 0;
    cursor: pointer;
}

.phone-nav ul li:hover, 
.phone-nav ul li a:hover {
	color: #feb62e;
    transition: .5s;
}

.phone-nav ul li a {
	font-size: 12px;
	margin: 2px 0;
    display: block;
    color: #f5f5f5;
    padding: 0;
    text-decoration: none;
}

/* --------------------------Media Query */

/* Active for screen sizes under 992px */
@media (max-width: 992px) {
    .cc-navbar {
        width: 100%;
    }

    .nav-item {
        margin-right: 40px;
    }
}

@media (max-width: 350px) {
    .phone-nav ul {
        height: 70px;
    }

    .phone-nav ul li {
        padding: 5px;
    }
}
