{% extends 'base.html' %}

{% block title %}{{ title }} | Covid Companion{% endblock %}

{% block content %}
    <div class="background-image access-denied-background">
        <div class="container error-pic">

            <!-- Error Image -->
            <div class="row">
                <div class="col-12 hero-text">
                    <img src="{{ url_for('static', filename='images/404.png') }}" alt="404 Image" />
                </div>
            </div>
            <!-- / .Error Image -->
            <!-- Error Text -->
            <div class="row">
                <div class="col-12">
                    <h1>Uh Oh! Page Not Found</h1>
                    <p>We looked everywhere but it seems this page just doesnt exist</p>
                    <p>Thats okay though, we are still here to make sure you get home safely!</p>
                    <a href="{{ url_for('home') }}" class="error-btn">Go Home</a>
                    <p class="email">Think this is a mistake ? <a href="mailto:support@covid-companion.ie">support@covid-companion.ie</a></p> 
                </div>
            </div>
            <!-- / .Error Text -->
            
        </div>
    </div>
{% endblock %}