{% extends 'base.html' %}

{% block title %}{{session['first_name']}} {{session['last_name']}} - {{ title }} | Covid Companion{% endblock %}

{% block content %}
<div class="background-image sign-up-background">
    <div class="container">
            <div class="row">
                <!-- Sign Up Card Title -->
                <div class="col-6 col-md-5 col-lg-4 title-card signup-card">
                    <h2>Edit Profile</h2>
                </div>
                <!-- / .Sign Up Card Title -->
            </div>
            <div class="row">
                <!-- Sign Up Card Content -->
                <div class="col-11 col-sm-12 col-md-10 col-lg-8 form-card">
                    <i class="far fa-user-circle user-icon"></i>
                    <form class="form-section" action="{{url_for('sign_up')}}" method="POST">
                        <!-- First Name Input -->
                        <div class="form-group">
                            <label for="fname">First Name:</label>
                            <input type="text" class="input-field" name="fname" id="fname" value="{{ session['first_name'] }}" required>
                        </div>
                        <!-- Last Name Input -->
                        <div class="form-group">
                            <label for="lname">Last Name:</label>
                            <input type="text" class="input-field" name="lname" id="lname" value="{{ session['last_name'] }}" required>
                        </div>
                        <!-- Email Input -->
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="input-field" name="email" id="email" value="{{ session['user_email'] }}" required>
                        </div>
                        <!-- Phone Input -->
                        <div class="form-group">
                            <label for="phone">Phone Number:</label>
                            <input type="text" class="input-field" name="phone" id="phone" value="{{ session['user_phone'] }}" required>
                        </div>
                        <!-- Address Input -->
                        <div class="form-group">
                            <label for="address">Address:</label>
                            <input type="text" class="input-field" name="address" id="address" value="{{ session['user_address'] }}" required>
                        </div>
                        <!-- User Type Input -->
                        <div class="form-group">
                            <label for="user_type">User Type</label>
                            <select class="input-field select-field" id="user_type" name="user_type" required>
                                <option value="{{ session['user_type'] }}">{{ session['user_type'] }}</option>
                                {% if session['user_type'] == "Volunteer" %}
                                    <option value="Vulnerable">Vulnerable</option>
                                {% else %}
                                    <option value="Volunteer">Volunteer</option>
                                {% endif %}
                                
                            </select>
                        </div>
                        <!-- Submit Button -->
                        <input type="submit" class="submit-btn" value="Update">
                    </form>
                </div>
                <!-- / .Sign Up Card Content -->
            </div> 
        </div>
        <!-- / .Sign Up Card Section -->
</div>
{% endblock %}