{% extends 'base.html' %}

{% block title %}{{ title }} | Covid Companion{% endblock %}

{% block content %}
    <h1>This is the give help template</h1>
    <p>Testing</p>
<div class="container">
    {% for post in posts %}

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="heading{{ loop.index }}" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                <div class="list-inline">
                    <p class="mb-0 list-inline-item">
                        {{ post.title}}
                    </p>
                    <p class="mb-0 list-inline-item">
                        -- Status: {{ post.status}}
                    </p>
                </div>
                <p class="mb-0 small">
                    Posted by: {{ post.name}}
                </p>
                </div>

                <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordionExample">
                <div class="card-body">
                    <p class="mb-0">Description: {{ post.description}}</p>
                    <p class="mb-0">Order Number: {{ post.order_number}}</p>
                    <p class="mb-0">County: {{ post.county}}</p>
                    <p class="mb-0">Delivery Address: {{ post.address}}</p>
                    <h3>Contact Details:</h3>
                    <p class="mb-0">Email: {{ post.email}}</p>
                    <p>Phone Number: {{ post.phone_number}}</p>
                    <h3>Post Actions:</h3>
                    <a href="{{url_for('edit_post', post_id=post._id)}}" class="btn btn-info">Edit Post</a>
                    <a href="{{url_for('remove_post_confirmation', post_id=post._id)}}" class="btn btn-danger">Delete Post</a>
                    <h3>Change Post Status:</h3>
                    <a href="" class="btn btn-warning">In Progress</a>
                    <a href="" class="btn btn-success">Completed</a>

                </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}