{% extends 'base.html' %}

{% block title %}Covid Companion | {{ title }}{% endblock %}

{% block content %}
        <!-- Landing Page Image -->
    <div class="container-fluid container-head">
        <div class="row hero-row">
            <div class="col-12 home-image">
                <div class="row">
                    <div class="col-12 home-hero-image">
                        <img src="{{ url_for('static', filename='images/home.png') }}" alt="404 Image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / .Landing Page Image -->
<div class="background-image home-background">
    <div class="container">

        <!-- About Us Section -->
            <div class="row">
                <div class="col-12 col-md-8 home-section about-sect">
                    <h2 class="section-header">About Us</h2>
                    <p>Covid Companion was set up to provide help for both old people and people who are classed as vulnerable during the current Covid-19 (Coronavirus) pandemic. Our goal is to connect the old and vulnerable with people who are willing to volunteer their time to retrieve essential goods such as food and medication for those in need during these unprecedented times.</p>
                </div>
            </div>
        <!-- / .About Us Section -->

        <!-- Introduction Section -->
            <div class="row">
                <div class="col-12 col-lg-6 home-section" id="scroll-1">
                    <h2 class="section-header">Volunteering</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat minus asperiores ipsum assumenda laborum fuga ipsa! Eligendi, repellendus expedita modi dolor aperiam eos facere minima in debitis est alias eius!</p>                    
                </div>

                <div class="col-12 col-lg-6 home-section">
                    <h2 class="section-header">Needing Assisstance</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat minus asperiores ipsum assumenda laborum fuga ipsa! Eligendi, repellendus expedita modi dolor aperiam eos facere minima in debitis est alias eius!</p>                    
                </div>
            </div>
        <!-- / .Introduction Section -->

        <!-- Get Started Section -->
            <div class="row">
                <div class="col-12 col-md-8 home-section getting-started-sect">
                    <h2 class="section-header">How to get Started</h2>
                    <p>Whether you're looking to become a volunteer or in need of someone to do your weekly shop as you are following the HSE's "cocooning" reccomendations, the process is the same and the process is simple. All you need to do to get involved is create an account and you're all set to go!</p>
                    <a href="{{ url_for('sign_up') }}" class="error-btn">Get Started</a>
                </div>
            </div>
        <!-- / .Get Started Section -->
    </div>
</div>
{% endblock %}